@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  display: none;
}

.box1{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.box2{
  border: 1px solid #4c4c4c;
}